$red: #99544b;
$green: #44a675;
$blue: #10678a;
$yellow: #eedf62;
$grey: #ccc;
$light: #faf9c9;
$dark: #232323;
$light-text: #ddd;
$dark-text: #444;
// fonts
$heading: 'Chicle', cursive;

body *,
body::before,
body::after {
  box-sizing: border-box;
  margin: 0;
  overflow-wrap: break-word;
}

html{
  background: $light url(../images/bgwhite.png);
}

body {
  max-width: 600px;
  margin: 0 auto;
}

header{
  border-bottom: 2px dotted $red;
  margin-bottom: 20px;
  padding-bottom: 8px;
}

#logo{
  font-family: $heading;
  display: block;
  margin: 0 auto;
  text-align: center;
  h1{
    color: $yellow;
    font-size: 3.6rem;
    transform: rotate(-6deg) translate(-6px,10px);
    text-shadow: 1px 1px 2px $red;
  }
  h2{
    color: $green;
    font-size: 2.4rem;
    text-shadow: 1px 1px $blue;
    transform: rotate(-3deg) translate(0,-6px);
  }
}

#posts{
  margin: 0;
  padding: 0 4px;
  list-style: none;
  text-align: center;
  li{
    border-bottom: dotted 1px $green;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  h1{
  color: $blue;
  font-family: $heading;
  font-size: 2.4rem;
  margin: 0;
    a{
    text-decoration: none;
    color: #222;
      &:hover{
      text-decoration: underline;
      color: $dark-text;
      }
    }
  }
  h2{
    color: $red;
    font-size: 1.4rem;
    font-family: $heading;
    font-style: italic;
    margin: 0;
  }
  p{
    font: 1.1rem monospace;
    color: #444;
    text-align: left;
  }
}

footer{
  color: $dark-text;
  font: 0.9rem monospace;
  text-align: center;
  padding: 20px 0;
  a{
    color: $blue;
  &:visited{
    color: $green;
  }
  }
}



